body{
    width: 100vw;
    height: 100vh;
    background-image: url(img/mapa.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    image-rendering: pixelated;
   }

   #box{
    image-rendering: pixelated;

   }
   
   #box #personaje{
       position: relative;
       width: 80px;
   }
   
   #box #objeto{
       position: absolute;
       width: 135px;
       height: 72px;
       background-color: rgb(255, 255, 255);
       left: 425px;
       top: 330px;
   }

   #box #objeto img{
    width: 135px;
    height: 72px;
   }

   #box #objeto2{
        position: absolute;
        width: 135px;
        height: 72px;
        background-color: rgb(255, 255, 255);
        left: 725px;
        top: 330px;
    }

    #box #objeto2 img{
        width: 135px;
        height: 72px;
       }